<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8">
  <link
    rel='stylesheet'
    href='/static/bootstrap/css/bootstrap.css'
  />
  <script
    defer
    type='text/javascript'
    src='/static/bootstrap/js/bootstrap.js'></script>
  <script
    type='text/javascript' 
    src='/static/jquery-3.2.1.min.js'></script>
  <script 
    type="text/javascript"
    src='/static/popper.js-1.12.5/dist/umd/popper.js'></script>
  <title>Jian Wu</title>
</head>
<body>
  <hr>
    <div>
      <center>
        Welcome to Jian Wu's personal website.
      </center>
    </div>
  <hr>
  <center>
    <h2>
      Who Am I?
    </h2>
      <p>
        <code>
          {
            'name': 'Jian Wu',
            'university': 'Københavns Universitet',
            'specialization': 'IT and Cognition',
          }
        </code>
      </p>
      <div>
        <p>
          I write
          <a href='https://github.com/JaggerWu'>code</a>
          and do
          <a href='/about_me'>myself</a>
        </p>
      </div>
    <center>
</body>
