<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8">
  <link
    rel='stylesheet'
    href='/static/bootstrap/css/bootstrap.css'
  />
  <script
    defer
    type='text/javascript'
    src='/static/bootstrap/js/bootstrap.js'></script>
  <script
    type='text/javascript' 
    src='/static/jquery-3.2.1.min.js'></script>
  <script 
    type="text/javascript"
    src='/static/popper.js-1.12.5/dist/umd/popper.js'></script>
  <title>Jian Wu</title>
</head>
<body>
  <div>
    <hr>
      <center>
        Welcome to Jian Wu's personal website.
      </center>
    <hr>
  </div>
</body>
