<!DOCTYPE html>
<html lang='en'>
{% block content %}
<head>
  <link
    rel='stylesheet'
    href='/static/css/bootstrap.css'
  />
  <script
    defer
    type='text/javascript'
    src='/static/js/bootstrap.js'></script>
  <script
    type='text/javascript' 
    src='/static/jquery-3.2.1.min.js'></script>
  <script 
    type="text/javascript"
    src='/static/popper.js-1.12.5/dist/umd/popper.js'></script>
  <title>About me</title>
</head>

<body>
  <div class='post'>
    <p>
    My name is Jian Wu. I come from Huanggang, China. I have one bachelor
    degree with Electronic Information Science and Technology. Now, I am
    studying for my master degree in København Universitet, Denmark and
    majoring in IT and Cognition.
  </p>
  <p>
    I have nearly six years experience about programming. In my bachelor, I use
    C, C++ and Matlab. In master, I touched Python and fell in love with
    python. Also, I am doing a student developer in CSIS, an IT security
    campony in Denmark.
  </p>
  </div>
  <div>
    <p>
      {{ cow_worker }}
    </p>
  </div>
</body>
{% endblock %}
